*{
    margin: 0;
    padding: 0;
}
.StartMain .container .row .col-sm{
    color: black;
    background: rgb(255, 248, 248);
    padding: 10px;
    margin: 20px;
    border:1px solid blanchedalmond;
}
.StartMain .container .row .col-sm h1{
    color: black;
    background: rgb(255, 248, 248);
    padding: 10px;
    margin: 20px;
    border:1px solid blanchedalmond;
}