*{
    margin-top: 0;
    padding: 0;
}

.main{
    display: flex;
    background: #3ec7e6;
    height:100vh auto;
}
video{
    background: #fff;
    width: 100%;
    height: 350px;
}
.main .side{
   
    align-items: center;
    /* width: 450px; */
    height: auto;
    background: #434b50;
}
.container .btn{
    display: inline;
    font-family: dosis;
    margin: 5px;
    background: #434b50;
    color:#fff;
}
.side .sideimg{
    width: 100%;
    /* height: 200px; */
    text-align: center;
    /* margin: 100px; */
    border-radius: 50em;
    align-self: center;
}
.side #sideImg{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 50px;
    border-radius: 50em;
    align-self: center;
}
.main .side .btn{
    /* text-align: center; */
    /* width: 200px; */
    display: inline;
    font-family: dosis;
    margin: 5px;
    background: #86adc5;
    color:#fff;
}
.main .side #btn{
    margin-top: 100px;
    /* text-align: center; */
    width: 200px;
    display: inline;
    font-family: dosis;
    margin: 5px;
    background: #86adc5;
    color:#fff;
}
.info{
    width: 600px;
    height: 500px;
    margin-left: 50px;
    margin-bottom: 1px solid black;
}

@media(max-width:856px){
    .side{
        width: 100%;
        height: auto;
    }

    .info{
        /* display: none; */
        position: absolute;

        width: 100%;
        /* height: 500px; */
        margin-left: 0px;
        margin-bottom: 1px solid black;
                /* opacity: 0.78;
                background: #3ec7e6; */

    }
    .collapse{
        background-color: #3ec7e6;
        box-shadow: 0.66px 2px 4px 1px #ffffff;
        border-radius: 0.2em;

        opacity: 0.9;
    }

    /* .Result
    .collapse
    .card-body  */
    .list-group{
    box-shadow: 0.4px 4px 4px 4px #434b50;
    font-family: -apple-system;
}


}