
@media(max-width:856px){
.registertop{
     background:
     url('img/annie-spratt-OIuCXxx08yg-unsplash.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}
.registermain
.registertop
.container-fluid
.row
form
.form-inline input{
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline-color: none !important;
    outline-offset: 0px;
    outline: hidden !important;
    border-bottom: 1px solid dodgerblue;

}
#anni{
    height: 30vh;
    position: absolute;
    top: 0;
    /* z-index: -1; */
}
 .row .col-sm .spinner-grow #depth{
    z-index: -2;
    display: none;
} 
/* .col-sm .spinner-grow{
    height: 100%;
} */

}



*{
    margin: 0;
    padding: 0;
}

.registermain{
    /* background:linear-gradient(to top,  rgb(223, 223, 223), rgba(225, 225, 255, 0.99),
     url(img/e-learning-svgrepo-com.svg)); */
    width: 100%;
    height:100vh;
}


.registertop{
    background:linear-gradient(to bottom, rgb(223, 223, 223), rgba(225, 225, 225, 0.6));
    width: 100%;
    height:100vh auto;
    align-items: center;
}
.registertop form input {
    z-index: 20;
     margin: 20px;
}
.container-fluid .btn{
    width: 100%;
    z-index: 20;
    display: inline;
    font-family: dosis;
    margin: 5px;
    background: #434b50;
    color:#fff;
}

.registertop #registerImg{
    position: absolute;
    top: 445px;
    left: 410px;
    width: 300px;
}
.registermain
{
    height: auto; 
    background:
     url('img/annie-spratt-OIuCXxx08yg-unsplash.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}
form{
    background: #ffffff;
    opacity: 0.55;
}
.registermain
.registertop
.container-fluid
.row
form
.form-inline input{
    height: 40px;
    width: 100%;
    padding: 10px;
    color: #000000;
    background-color: transparent;
    border: none;
    outline-color: none !important;
    outline-offset: 0px;
    outline: hidden !important;
    border-bottom: 1px solid dodgerblue;

}
.registermain
.registertop
.container-fluid
.row
form
.form-inline
input:focus{
    outline-color: none !important;
    outline:none;
    border-bottom: 1px solid rgb(0, 0, 0);
}