*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(max-width:600px){
    
.staff{
    width: 100%;
    display: flex;
    padding: 10px 0px 10px 30px;
    margin: 20px 0px 30px 0px;
    border: 1px solid #1073a0;
    flex-direction: column;
}
}
.staff{
        width: 100%;
        display: flex;
        padding: 10px 0px 10px 30px;
        margin: 20px 0px 30px 0px;
        border: 1px solid #1073a0;

}
.staff-img{
    width: 80px;
    height: 80px;
    border-radius: 10em;
    border: 1px solid #1073a0;
    padding: 10px;
    background: url('../img/annie-spratt-OIuCXxx08yg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.staff-details{
    padding: 20px 0px 10px 30px;
    /* margin: 20px 0px 30px 30px; */
}
.staff-details ul li{
    

    display: inline;
}
.staff-details ul li span{
    font-family: -apple-system;
    color: #1073a0;
    font-size: 20px;
    font-weight: 700;

}