@import url('https://fonts.googleapis.com/css?family=Aleo');
*{
    margin: 0;
    padding: 0;
}
header
{
    position: sticky;
    top: 0;
    z-index: 3;
}
.navbar{
    background: #434b50;
    border-bottom: 1px solid #5494e3;
}
li .nav-link{
    color: #fff;
    margin-left: 38px;
    font-family: -apple-system;
    font-weight: bold;
}
a:active{
    border-bottom: 2px solid #ffffff;
}
li .nav-link:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-left: 40px;
    font-family: -apple-system;
    font-weight: bold;
}
li .nav-link:focus{
    border-bottom: 2px solid #fff;
   
}
.navbar-brand{
    color: #fff;
    /* background: #000000; */
    /* border-bottom: 1px solid #5494e3; */
}

.top{
    width: 100%;
    height: 70vh;
    background: #3ec7e6;
}
.ul li{
    display: inline;
    margin: 50px;
    color: #fff;
    font-family: -apple-system;
    font-size: 25px;
    cursor: pointer;
}
.ul li:hover{
    color: #fff;
    border-bottom: 2px solid #000000;
   
}
.ul li:visited{
    color: #fff;
    border-bottom: 2px solid #000000;
   
}
.top #accordion{
    height: 100vh;
    outline: transparent;
}
.container #accordion 
.overview,
.Benefits,
.Features, h1{
    color:#fff;
    font-size: 50px;
    font-family: -apple-system;
}
.container #accordion 
.overview,
.Benefits,
.Features, p{
    color:#000000;
    font-size: 30px;
    font-family: Aleo;
}
.container #accordion {
    background: transparent;
}
.container #accordion 
 button{
    color: #fff;
    font-size: 20px;
    font-family: -apple-system;
    background: #434b50;
}
#cardContainer .row{
    
    padding: 100px 0px 100px;
    

}
#cardContainer .card{
    /* border: 1px solid #434b50; */
    text-align: center;
    margin: 10px;
    background: #fff;
}
.card-image{
    align-self: center;
}
#cardContainer .card p{
    font-size: 18px;
}
#cardContainer .card .btn{
    border-radius: 2em;
    color: #fff;
    font-size: 20px;
    font-family: -apple-system;
    background:linear-gradient(to right, #6298b9, #434b50);
}
.middle
{
    width: 100%;
    height: 100vh auto;
    background: #dfe1e2;
}

footer{
    background: #434b50;
   
}
footer .container ul li{
    text-decoration: none;
    list-style: none;
    margin: 10px;

}
footer .container ul li a{
    text-decoration: none;
    list-style: none;
    font-family: -apple-system;
    font-size: 20px;
    color: #fff;
}